body {
  background-color: #ecf0f1 !important;
}

.hero {
  background: #e74c3c;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.title {
  margin: 0 0 1em;
  padding: 1em 0;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color: white;
}

#search {
  width: 40%;
  margin: auto;
  padding: 10px;
  border: 3px solid black;
}